<connectionStrings>
     <!--<add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-760ab82f-972b-49ee-a713-5ee96e7b710c;AttachDbFilename=|DataDirectory|\aspnet-Website-760ab82f-972b-49ee-a713-5ee96e7b710c.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>-->
   <add name="DefaultConnection"
      connectionString="Data Source=.; Initial Catalog=Chinook;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
</connectionStrings>
